* {
  margin: 0;
}

.bg-theme {
  background-color: rgb(241, 239, 239);
}

.page-width {
  max-width: 1280px;
  margin: 0px 160px 0px 160px;
}

.fira-sans-regular {
  font-family: "Fira Sans", serif;
  font-weight: 400;
  font-style: normal;
}

.nav-display {
  display: flex;
  justify-content: space-between;
}

.btn-sign {
  color: #006A50;
  width: 120px;
  height: 50px;
  background-color: transparent;
  border-radius: 8px;
  border-color: #006A50;
  padding: 10px 24px;
  font-weight: 500;
  font-size: 18px;
}

.header {
  background-color: #C6E4D6;
  border-radius: 24px;
  justify-content: center;
  align-items: center;
}

.banner {
  display: flex;
  justify-content: space-between;
}

.banner-title {
  color: grey;
  font-size: 24px;
  margin: 0;
}

.banner-content {
  display: flex;
  flex-direction: column;
  max-width: 622px;
  height: 326px;
  align-items: flex-start;
}

.banner-image {
  width: 474px;
  height: 400px;
}

.banner-description {
  font-size: 56px;
  font-weight: bold;
  line-height: 1.2;
}

.btn-banner {
  width: 270px;
  height: 56px;
  background-color: #006A50;
  border-radius: 8px;
  border: none;
  padding: 17px 34px;
  color: white;
  font-weight: 400;
  font-size: 18px;
}


.pillars-card {
  background-color: white;
  width: 270px;
  border-radius: 12px;
  padding: 10px 20px;
  justify-content: left;
}

.section-content {
  display: flex;
  justify-content: space-between;
}

.vision-card-1 {
  background-color: #bdd1f4;
  width: 380px;
  border-radius: 12px;
  padding: 10px 20px;
  justify-content: left;
}

.vision-card-2 {
  background-color: #C6E4D6;
  width: 380px;
  border-radius: 12px;
  padding: 10px 20px;
  justify-content: left;
}

.vision-card-3 {
  background-color: #F7EBCF;
  width: 380px;
  border-radius: 12px;
  padding: 10px 20px;
  justify-content: left;
}

.quotation-box {
  background-color: white;
  border-radius: 12px;
  padding: 60px 20px;
  justify-content: left;
  text-align: justify;
  background-image: url('assets/quote-bg.png');
  background-repeat: no-repeat;
  background-position: 20px 30px;
}

.opinion-table {
  background-color: white;
  width: 100%;
  border-radius: 12px;
  border-collapse: collapse;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  overflow: hidden;
}

.opinion-table th {
  padding: 15px;
  text-align: left;
  font-size: 18px;
  color: black;
}

.opinion-table td {
  padding: 15px;
  font-size: 16px;
  text-align: left;
  border-bottom: 1px solid #ddd;
}

.table-select {
  padding: 8px 12px;
  font-size: 16px;
  border: 1px solid #C6E4D6;
  border-radius: 8px;
  background-color: #C6E4D6;
  color: black;
  cursor: pointer;
}

.news-section {
  background-color: white;
  border-radius: 16px;
  padding: 50px 30px 50px 30px;
  margin-bottom: 25px;
  display: flex;
  justify-content: space-between;
  gap:24px;
}

.news-content {

  margin-top: 20px;
  margin-bottom: 40px;
}

.news-image {
  width: 408px;
  height: 306px;
  border-radius: 24px
}

.date-margin{
  margin-right: 10px;
}

.btn-read-more{
  height: 48px;
  width: 139px;
  color: white;
  background-color: #006A50;
  border-radius: 8px;
  font-size: 18px;
  font-weight: 500;
  border: none;
  cursor: pointer;
}

.outline-txt {
  font-weight: 600;
  font-size: 40px;
  margin-bottom: 24px;
}

.btn-donate {
  height: 128px;
  width: 252px;
  font-weight: 600;
  font-size: 40px;
  border-radius: 16px;
  border: none;
  background-color: white;
  cursor: pointer;
}

.btn-donate:hover {

  background-color: #C6E4D6;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
}

.btn-donate-align {
  display: flex;
  justify-content: space-between;
  gap: 24px;
  margin: 32px 104px 32px 104px;
}

.donate-box {
  width: 900px;
  height: 64px;
  margin: 32px 124px 32px 124px;
  text-align: center;
  font-size: 20px;
  border: none;
}


.btn-donate-now {
  margin: 32px 500px 32px 500px;
  width: 151px;
  height: 56px;
  color: white;
  background-color: #006A50;
  border-radius: 8px;
  font-size: 18px;
  font-weight: 500;
  border: none;
}

.section-newsletter {
  margin: 80px 0px 80px 0px;
  background-color: #C6E4D6;
  padding: 80px 265px 80px 265px;
  border-radius: 24px;
}

.newsletter-email-box {
  height: 55px;
  width: 600px;
  font-size: 16px;
  border: none;
  border-radius: 12px 0px 0px 12px;
  padding-left: 40px;
}

.btn-subscribe {
  width: 151px;
  height: 56px;
  color: white;
  background-color: #006A50;
  border-radius: 8px;
  font-size: 18px;
  font-weight: 500;
  border: none;
  border-radius: 0px 12px 12px 0px;
}

.newsletter-subscription {
  display: flex;
}

.font-group-2 {
  font-size: 32px;
  text-decoration: none;
  color: black;
}

.footer-section {
  max-width: 1122px;
  margin: 50px 79px 50px 79px;
}

.follow-icon {
  margin-top: 32px;
  display: flex;
  justify-content: center;
  gap: 10px;
}

main {
  padding-bottom: 80px;
}